.git
.gitignore
node_modules
frontend/node_modules
venv
htmlcov
coverage
coverage.xml
backend/.coverage
backend/coverage.xml
frontend/static/js/bundle.js
frontend/static/js/bundle.js.LICENSE.txt
frontend/static/css/styles.css
__pycache__
*.py[cod]
*.pyo
*.pyd
*.swp
.DS_Store
